html {
	height: 100%;
}
body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	background-color:#FFFFFF;
	margin:0px;
	height: 100%;
}
table.layout {
	width:100%;
	height:100%;
}
td.header {
	text-align:right;
	vertical-align:top;
}
td.shadow {
	width:90px;
	background-image:url(./shadow.gif);
    background-position: top,left;
	background-repeat:repeat-y;
	vertical-align:top;
}
td.background {
	width:100%;
	background-image:url(./grid.gif);
	background-position:top,left;
	background-repeat:repeat;
}
td.content {
	width:660px;
	text-align:justify;
}
a.blue {
	text-decoration:none;
	background-color:#40ccff;
	color:#FFFFFF;
}
a.blue:hover {
	background-color:#ffff00;
	color:#FFFFFF;
}
span.blue {
	background-color:#40ccff;
	color:#FFFFFF;
}
div {
	margin:0px 0px 50px 0px;
}
div.animation {
	text-align:center;
}