html {
	height: 100%;
}
body {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
	margin: 0px;
	height: 100%;
    background-image: url(./grid.gif);
    background-position: top,left;
    background-repeat: repeat;
}
table.layout {
	height: 100%;
    background-color: #FFFFFF;
    -webkit-box-shadow: 7px 7px 30px 0px rgba(50, 50, 50, 0.65);
    -moz-box-shadow:    7px 7px 30px 0px rgba(50, 50, 50, 0.65);
    box-shadow:         7px 7px 30px 0px rgba(50, 50, 50, 0.65);
}
div.animation {
	text-align:center;
}
div.copyright {
    margin-top: 30px;
    text-align: right;
    color: #4CCDF9;
}